<div th:fragment="sidebar-teacher">
    <!-- サイドバー -->
    <ul class="navbar-nav bg-gradient-warning sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- サイドバー - ブランド -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/teacher/mypage">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3"> InstaBiz <sup>2</sup></div>
        </a>

        <hr class="sidebar-divider my-0">

        <!-- 講義申請 セクション -->
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            menu
        </div>
        <li class="nav-item">
            <a class="nav-link" href="/teacher/mypage">
                <i class="fas fa-fw fa-calendar-plus"></i>
                <span>mypage</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/message">
                <i class="fas fa-fw fa-clock"></i>
                <span>message</span>
            </a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- サイドバー終了 -->
</div>