<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="sidebar-admin">

			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
					<div class="sidebar-brand-icon rotate-n-15">
						<i class="fas fa-laugh-wink"></i>
					</div>
					<div class="sidebar-brand-text mx-3"> InstaBiz <sup>2</sup></div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Nav Item - Dashboard -->
				<!-- <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li> -->

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Heading -->
				<div class="sidebar-heading">
					会員管理
				</div>

				<!-- Nav Item - Components -->
				<li class="nav-item">
					<a class="nav-link" href="register.html">
						<i class="fas fa-fw fa-cog"></i>
						<span>会員登録</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="student-list.html">
						<i class="fas fa-fw fa-cog"></i>
						<span>学生照会</span>
					</a>
				</li>

				<!-- Nav Item - Utilities -->
				<li class="nav-item">
					<a class="nav-link" href="teacher-list.html">
						<i class="fas fa-fw fa-wrench"></i>
						<span>講師照会</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="utilities-border.html">
						<i class="fas fa-fw fa-wrench"></i>
						<span>管理者照会</span>
					</a>
				</li>
				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Heading -->
				<div class="sidebar-heading">
					授業管理
				</div>

				<!-- Nav Item - Pages Group (like Charts) -->
				<li class="nav-item">
					<a class="nav-link" href="login.html">
						<i class="fas fa-fw fa-sign-in-alt"></i>
						<span>授業登録</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="register.html">
						<i class="fas fa-fw fa-user-plus"></i>
						<span>定期授業の照会</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="forgot-password.html">
						<i class="fas fa-fw fa-unlock-alt"></i>
						<span>非定期受講の照会</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="404.html">
						<i class="fas fa-fw fa-exclamation-triangle"></i>
						<span>授業申請書の照会</span>
					</a>
				</li>

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Heading -->
				<div class="sidebar-heading">
					Zoom管理
				</div>

				<li class="nav-item">
					<a class="nav-link" href="login.html">
						<i class="fas fa-fw fa-sign-in-alt"></i>
						<span>Zoom講義室の照会</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="login.html">
						<i class="fas fa-fw fa-sign-in-alt"></i>
						<span>基本Zoomオプションの設定</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="login.html">
						<i class="fas fa-fw fa-sign-in-alt"></i>
						<span>Zoomアカウントの登録</span>
					</a>
				</li>

				<!-- Heading -->

				<!-- Divider -->
				<hr class="sidebar-divider">

				<div class="sidebar-heading">
					出席簿
				</div>

				<li class="nav-item">
					<a class="nav-link" href="login.html">
						<i class="fas fa-fw fa-sign-in-alt"></i>
						<span>出席簿</span>
					</a>
				</li>
				<!-- Divider -->
				<hr class="sidebar-divider">
				<!-- Heading -->
				<div class="sidebar-heading">
					ログ
				</div>

				<li class="nav-item">
					<a class="nav-link" href="login.html">
						<i class="fas fa-fw fa-sign-in-alt"></i>
						<span>出席ログ</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="login.html">
						<i class="fas fa-fw fa-sign-in-alt"></i>
						<span>操作ログ</span>
					</a>
				</li>
				<!-- Divider -->
				<hr class="sidebar-divider">
				<!-- Heading -->
				<div class="sidebar-heading">
					システム設定
				</div>

				<li class="nav-item">
					<a class="nav-link" href="login.html">
						<i class="fas fa-fw fa-sign-in-alt"></i>
						<span>システム設定</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="login.html">
						<i class="fas fa-fw fa-sign-in-alt"></i>
						<span>メッセージ設定</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="buttons.html">
						<i class="fas fa-fw fa-cog"></i>
						<span>休日設定</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="buttons.html">
						<i class="fas fa-fw fa-cog"></i>
						<span>教材マスター</span>
					</a>
				</li>

				<!-- Divider -->
				<hr class="sidebar-divider d-none d-md-block">

				<!-- Sidebar Toggler (Sidebar)
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> -->

			</ul>
			<!-- End of Sidebar -->

	</div>
</body>

</html>