<!-- src/main/resources/templates/fragments/topbar-student.html -->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="topbar(title)">
    <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
        <h4 class="m-4 ml-0 font-weight-bold text-primary" th:text="${title}">ページタイトル</h4>

        <!-- Sidebar Toggle (Topbar) -->
        <form class="form-inline">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${studentName}">学生</span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
					 <a class="dropdown-item" href="/student/logout">
					     <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
					     ログアウト
					 </a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- End of Topbar -->
</div>
</body>
</html>
